:root {
  /* font-family: Inter, Avenir, Helvetica, Arial, sans-serif; */
  /* font-family: 'Clicker Script', cursive; */
  /* font-family: 'Josefin Slab', serif; */
  font-family: 'Coustard', serif;
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color-scheme: light dark;
  color: rgb(117, 37, 7);
  background-color: rgb(255, 245, 239);
  /* background-image: linear-gradient(0deg, rgba(251, 192, 153, 1) 15%, rgba(251, 207, 178, 1) 35%, rgba(251, 222, 203, 1) 50%, rgba(251, 237, 228, 1) 65%, rgba(251, 252, 253, 1) 85%, rgba(251, 255, 255, 1) 100%); */

  /* font-synthesis: none; */
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

}
 .root{
  --nav-bg-color-grey:rgb(98, 98, 98);
  --nax-box-shadow-color: rgb(0, 0, 0);
 }


a {
  font-family: 'Mulish', sans-serif;
  font-weight: 500;
  color: #ffffff;
  text-decoration: inherit;
}

a:hover {
  color: #dfe7e4;
}

body {
  margin: 0;
  /* display: flex; */
  place-items: center;
  align-self: center;
  min-width: 500px;
  min-height: 100vh;
  /* background-image: linear-gradient(0deg, rgba(251, 237, 228, 1) 50%, rgba(255, 255, 255, 1) 100%); */
  /* width:100vh;
  height:100vh; */
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 4px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: rgb(243, 108, 36);
  box-shadow: 0 4px 6px 1px rgba(0, 0, 0, 0.5), 0 2px 4px 1px rgba(0, 0, 0, 0.06);
  cursor: pointer;
  transition: border-color 0.25s;
}

button:hover {
  border-color: #ffffff;
  color: white;
  box-shadow: 0 4px 6px 1px rgba(255, 255, 255, 0.9), 1px 2px 4px 1px rgba(255, 255, 255, 0.06);
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}


#app {
  /*  width:1280px; */
  /* max-width: 1280px;  */
  margin: 0 0;
  /* padding: 2rem; */
  align-items: center;
  text-align: center;
  background-image: url("./assets/images/booksforall-white.png");
  background-size: 15%;
  background-repeat: space;
  background-color: rgb(255, 245, 239);
  
}

@media (prefers-color-scheme: light) {
  :root {
    color: #ffffff;
   background-color: rgb(255, 245, 239);
  background-image: linear-gradient(0deg, rgba(251, 192, 153, 1) 15%, rgba(251, 207, 178, 1) 35%, rgba(251, 222, 203, 1) 50%, rgba(251, 237, 228, 1) 65%, rgba(251, 252, 253, 1) 85%, rgba(251, 255, 255, 1) 100%);

  }

  a:hover {
    color: #ffffff;
  }

  button {
    background-color: rgba(251, 237, 228);
  }
}