:root {
  /* font-family: Inter, Avenir, Helvetica, Arial, sans-serif; */
  /* font-family: 'Clicker Script', cursive; */
  /* font-family: 'Josefin Slab', serif; */
  font-family: 'Coustard', serif;
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color-scheme: light dark;
  color: rgb(117, 37, 7);
  background-color: rgb(255, 245, 239);
  /* background-image: linear-gradient(0deg, rgba(251, 192, 153, 1) 15%, rgba(251, 207, 178, 1) 35%, rgba(251, 222, 203, 1) 50%, rgba(251, 237, 228, 1) 65%, rgba(251, 252, 253, 1) 85%, rgba(251, 255, 255, 1) 100%); */

  /* font-synthesis: none; */
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

}

.dropdown-item {
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  font-style: normal;
  color: rgb(117, 37, 7);
}
.dropdown-item:focus, .dropdown-item:hover {
  color: rgb(243, 108, 36);
  background-color:  rgba(251, 192, 153, 0.2);
}
 .root{
  --nav-bg-color-grey:rgb(98, 98, 98);
  --nax-box-shadow-color: rgb(0, 0, 0);
 }
.b-radius-8{
  border: 0px solid transparent;
  border-radius: 0 8px 8px 0;
  box-shadow: 0 4px 6px 1px rgba(0, 0, 0, 0.5), 0 2px 4px 1px rgba(0, 0, 0, 0.06);

}
.max-height-500{
  max-height:500px;
}

a {
  font-family: 'Mulish', sans-serif;
  font-weight: 500;
  color: #ffffff;
  text-decoration: inherit;
}
.bb-3-dark-orange{
  /* border-top:rgb(117, 37, 7) 3px solid; */
  border-bottom:rgb(117, 37, 7,0.5) 3px solid;
}
.br-3-dark-orange{
  /* border-top:rgb(117, 37, 7) 3px solid; */
  border-right:rgb(117, 37, 7,0.5) 3px solid;
}
a:hover {
  color: #dfe7e4;
}

body {
  margin: 0;
  /* display: flex; */
  place-items: center;
  align-self: center;
  min-width: 500px;
  min-height: 100vh;
  /* background-image: linear-gradient(0deg, rgba(251, 237, 228, 1) 50%, rgba(255, 255, 255, 1) 100%); */
  /* width:100vh;
  height:100vh; */
}
.mt-1{
  margin-top: 1rem;
}
h1 {
  font-size: 3.2em;
  line-height: 1.1;
}
.text-white{
  color:white;
  font-family: 'Montserrat', sans-serif;
}
.text-orange{
  font-weight: 600;
  font-family: 'Coustard', serif;
  color:rgb(243, 108, 36) ;
  text-shadow: 1px 1px 1px #000000;
}
.text-dark-orange{
  color:rgb(117, 37, 7);
  font-family: 'Coustard', serif;
  font-weight: 800;
  /* text-shadow: 1px 1px 2px #000000; */
}
.btn {
  border-radius: 8px;
  border: 4px solid transparent;
  padding: 0.6em 1.2em;
  /* font-family: 'Montserrat', sans-serif; */
  font-size: 1em;
  /* font-weight: 400; */
  /* font-family: inherit; */
  /* color:rgb(117, 37, 7); */
  background-color: rgb(243, 108, 36);
  box-shadow: 0 4px 6px 1px rgba(0, 0, 0, 0.5), 0 2px 4px 1px rgba(0, 0, 0, 0.06);
  cursor: pointer;
  transition: border-color 0.25s;
  /* margin-left: 0px; */
  color: rgba(255, 255, 255);
  text-shadow: 1px 1px 2px #000000;
  font-weight: 600;
  font-family: 'Montserrat', sans-serif;
  font-style: italic;
  text-decoration: none;
  white-space: nowrap;

}
.btn:focus{
  outline:none;
  box-shadow: 0 4px 6px 1px rgba(255, 255, 255, 0.9), 1px 2px 4px 1px rgba(255, 255, 255, 0.06);
}
.bg-texture{
  background-image: url(./assets//images/papertexture.png);

}
.bg-translucide-white{
  background-color: rgb(251, 192, 153, 0.2);
}
.bg-gradient-light{
  background-image: linear-gradient(180deg, rgba(251, 192, 153, 1) 10%, rgba(251, 207, 178, 1) 25%, rgba(251, 222, 203, 1) 35%, rgba(251, 237, 228, 1) 100%);
}
.bg-gradient-light-reverse{
  background-image: linear-gradient(0deg, rgba(251, 192, 153, 1) 10%, rgba(251, 207, 178, 1) 25%, rgba(251, 222, 203, 1) 35%, rgba(251, 237, 228, 1) 100%);
}
.bg-gradient-dark{
  background-image: linear-gradient(195deg, rgb(243, 108, 36) 0%, rgb(117, 37, 7) 100%);
}
.bg-gradient-dark-reverse{
  background-image: linear-gradient(195deg, rgb(117, 37, 7)  0%, rgb(243, 108, 36) 100%);
}
.btn:hover {
  /* border-color: #ffffff; */
  color: white;
  background-color: rgb(243, 108, 36);

  box-shadow: 0 4px 6px 1px rgba(255, 255, 255, 0.9), 1px 2px 4px 1px rgba(255, 255, 255, 0.06);
}

.btn:focus,
.btn:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}
.container{
  
}

#app {
  /*  width:1280px; */
  /* max-width: 1280px;  */
  margin: 0 0;
  /* padding: 2rem; */
  align-items: center;
  text-align: center;
  background-image: url("./assets/images/booksforall-white.png");
  background-size: 15%;
  background-repeat: space;
  background-color: rgb(255, 245, 239);
  
}
#scrollToTopBtn {
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 20;
  font-size: 18px;
  border: none;
  outline: none;
  background-color: rgb(243, 108, 36);
  color: white;
  cursor: pointer;
  padding: 15px;
  border-radius: 4px;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #ffffff;
   background-color: rgb(255, 245, 239);
  background-image: linear-gradient(0deg, rgba(251, 192, 153, 1) 15%, rgba(251, 207, 178, 1) 35%, rgba(251, 222, 203, 1) 50%, rgba(251, 237, 228, 1) 65%, rgba(251, 252, 253, 1) 85%, rgba(251, 255, 255, 1) 100%);

  }

  a:hover {
    color: #ffffff;
  }

  button {
    background-color: rgba(251, 237, 228);
  }
}
.logo.img {
  height: 2em;
  will-change: filter;
}

.logo.img:hover {
  filter: drop-shadow(0 0 1em#ffffff);
  /* box-shadow: 1px 1px 2px rgb(255, 255, 255); */
}